<% include parcial/encabezado %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-5 offset-md-3 card">
      <div class="card-body">
        <form action="/editar/<%= resultado.id %>" method="POST">


            <div class="form-group">
                        <input type="text" name="nombre" placeholder="INSERTE EL NOMBRE" class="form-control" autofocus value="<%= resultado.nombre%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="apellido" placeholder="INSERTE EL APELLIDO" class="form-control"   value="<%= resultado.apellido%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="direccion" placeholder="INSERTE LA DIRECCION" class="form-control" value="<%= resultado.direccion%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="email" placeholder="INSERTE EL CORREO" class="form-control" value="<%= resultado.email%>">
                    </div>
                    <div class="form-group">
                        <input type="text" name="telefono" placeholder="INSERTE EL TELEFONO" class="form-control" value="<%= resultado.telefono%>">
                    </div>

 
          <button type="submit" class="btn btn-primary">
           EDITAR
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<% include parcial/pie %>
